<div>
  <h1 matCardTitle>Users</h1>

  <table *ngIf="dataSource" [dataSource]="dataSource" class="mat-table mat-card" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell> Email</th>
      <td *matCellDef="let element" mat-cell> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th *matHeaderCellDef mat-header-cell> Password</th>
      <td *matCellDef="let element" mat-cell> {{element.password}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="selectUser(row)"
        *matRowDef="let row;
        columns: displayedColumns;"
        [class.selected]="(selectedUser != undefined) && row.id == selectedUser.id"
        mat-row
    ></tr>
  </table>
  <div class="col-md-6">
    <app-userdetails (reqRefresh)='refresh()'
                     [selectedUser]="selectedUser"
                     class="mat-card"
    ></app-userdetails>
  </div>

</div>
